---
layout: default
---
<div class="ui basic vertical segment">
  <div class="ui text container">
    <h1 class="ui header">Timeline</h1>
    <div class="timeline">

      {% for timeline in site.data.timeline %}
        
        {% if timeline.events != null %}

          <h2>{{ timeline.year }}</h2>

          <ul>

            {% for event in timeline.events %}

              <li>
                <h3>{{ event.title }}</h3>
                <p>{{ event.text }}</p>
                <time>{{ event.date }}</time>
              </li>
            
            {% endfor %}
          
          </ul>

          {% endif %}
      
      {% endfor %}
    
    </div>
  </div>
</div>
