{% if page.url == '/' %}
  <div class="ui inverted hero masthead vertical segment">
    <div class="ui container">

      <div class="ui inverted secondary pointing menu">

        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>

        <div class="logo item">
          <img src="{{ site.url }}/assets/images/animal_farm.jpg" alt="Animal Farm" class="logo">
        </div>
        
        {% include menu.html %}

      </div>
    </div>

    <div class="ui center aligned text container">
      <h1 class="ui huge hero header">
        All Animals are Equal.
        <div class="sub header">But some animals are more equal than others.</div>
      </h1>


    </div>
  </div>

{% else %}

  <div class="ui inverted masthead vertical segment">
    <div class="ui container">

      <div class="ui inverted secondary pointing menu">

        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>

        <div class="logo item">
          <img src="{{ site.url }}/assets/images/animal_farm.jpg" alt="Anumal Farm" class="logo">
        </div>

        {% include menu.html %}

      </div>

    </div>
  </div>
  
  {% endif %}

