  <div class="ui inverted masthead vertical segment">
    <div class="ui container">

      <div class="ui inverted secondary pointing menu">

        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>

        <div class="logo item">
          <img src="/assets/images/animal_farm.jpg" alt="Anumal Farm" class="logo">
        </div>

        <div class="right menu">
          <a href="{{site.url}}/"class="{% if page.url == '/' %}active {% endif %}item">Home</a>
          <a href="{{site.url}}/credits/"class="{% if page.url == '/credits/' %}active {% endif %}item">Credits</a>
          <a href="{{site.url}}/contact/"class="{% if page.url == '/contact/' %}active {% endif %}item">Contact</a>
        </div>

      </div>

    </div>
  </div>

