// Base
a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 20%);
  }
}

strong,
b {
  font-weight: 900; // Lato Black
}

img.ui.image {
  margin-left: auto;
  margin-right: auto;
}


// Segments
.ui.segment {
  font-size: 1.15rem;
}

.ui.masthead.segment {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ui.masthead.hero.segment {
  .ui.huge.header{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  color: $gold;
  .sub.header {
    font-size: 1.5rem;
  }
  }
}


.ui.basic.vertical.segment,
.ui.footer.segment {
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ui.alternate.segment {
  background: rgba(124,66,166,0.03);
}

.ui.inverted.segment {
  color: #fff;
  border-radius: 0;
}

.ui.inverted.masthead.segment {
  background: $primary-color;
}

.ui.inverted.footer.segment {
  background: $primary-color;
}

.ui.secondary.segment {
  background: $primary-color;
  font-size: 1.72rem;
  color: inherit;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}


// Containers
.ui.text.container {
  max-width: 928px !important;
}

.ui.home.container {
  font-size: 1.45rem;
}


// Header & Menu
.secondary.pointing.menu .toc.item {
  display: none;
  padding: 0;
  margin-left: -0.5em;

  .icon {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item,
  .secondary.pointing.menu .logo.item {
    display: block;
  }

  .logo.item {
    padding: 0 !important;

    img {
      width: 50px !important;
      height: auto;
    }
  }
}

.ui.menu .item > img:not(.ui) {
  width: inherit;
  margin: 0;
  padding: 0;
}

.logo.item {
  padding-left: 0 !important;

  img {
    width: 100px !important;
    height: auto;
  }
}

.ui.secondary.inverted.pointing.menu {
  border-color: rgba(34,36,38,0);
  font-size: 1.15rem;
}

.ui.secondary.inverted.pointing.menu a.item {
  color: rgba(255,255,255,1) !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: #fff6aa;
  font-weight: normal;
}

.ui.secondary.inverted.pointing.menu .right.menu .item {
  border-width: 4px;
  font-weight: 900;
  -webkit-align-self: center; // just to make sure it works on older browsers
  -ms-flex-item-align: center;
  align-self: center; // can this be added with a html class? can't find in the semantic ui docs :/
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.2rem;
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
  }
}

// Headers

.ui.header {
  color: $primary-color;
  font-weight: 900;
  line-height: 1.1em;

  .inverted & {
    color: inherit;

    .sub.header {
      color: #fff;
    }
  }
}

// List

ul.ui.list {
  margin-left: 4rem;

  li:before {
    color: $primary-color;
  }
}

.ui.stackable.secondary.menu {
  margin-top: 3rem;
  margin-bottom: 2rem;

  .item {
    background: #fff;
    border-radius: 0;
    font-weight: 300;
    font-size: 1.4rem;

    @media only screen and (min-width: 768px) {
      border-left: 3px solid #f2f2f2;
      border-right: 3px solid #f2f2f2;

      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }

    &.active {
      border-radius: 0;
      font-weight: bold;
    }
  }
}

