// Variables

$primary-color: #b1110a;
$gray: #dddddd;
$gold: #fff6aa;
$education-model-color: #7b37a5;
$corporate-learning-color: #42ea9a;
$personal-development-color: #ff5900;
$dark-grey: #666666;
$md-grey: #808080;

$img-path: '../images/';
