---
layout: default
---

<div class="ui basic vertical segment">
  <div class="ui text container">

    <h1 class="ui header">{{ page.rr_name }} as {{ page.af_name }}</h1>

    <div class="ui hidden divider"></div>
    <div class="ui basic center aligned segment">
      <div class= "ui medium images">
        <img class="ui circular image" src="{{ site.url }}/assets/images/characters/{{page.rr_image}}" alt="{{ page.rr_name }}" />
        <img class="ui circular image" src="{{ site.url }}/assets/images/characters/{{page.af_image}}" alt="{{ page.rr_name }}" />
      </div>
    </div>
    
    {{ content }}

    <a href="{{ site.url }}/players">
      <button class="ui left labeled icon button">
        <i class="left arrow icon"></i>
        The Players
      </button>
    </a>

  </div>
</div>
